<ion-content class="main-bg">

  <div class="shared-container">
    <!-- LOGO -->
    <div class="shared-logo">
      <img src="assets/img/logofixel.png" alt="Logo">
    </div>
    <!-- TITULO -->
    <h2 class="shared-title">
      Monitoreo Inteligente de Temperatura
    </h2>

    <!-- CARD 1 -->
    <div class="feature-card">
      <img src="assets/img/icon-temp.png" class="icon">
      <div>
        <h3>Monitoreo en Tiempo Real</h3>
        <p>Visualiza la temperatura de tu refrigerador 24/7</p>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="feature-card">
      <img src="assets/img/icon-alert.png" class="icon">
      <div>
        <h3>Alertas Instantáneas</h3>
        <p>Recibe notificaciones ante cualquier anomalía</p>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="feature-card">
      <img src="assets/img/icon-food.png" class="icon">
      <div>
        <h3>Configuración por Alimento</h3>
        <p>Ajusta temperaturas según lo que guardas</p>
      </div>
    </div>

    <!-- BOTON -->
    <button class="start-btn" (click)="irAPantalla2()">
      Comenzar →
    </button>

  </div>

</ion-content>